name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        BUILD_TYPE: ["Debug", "Release"]
        os: [ windows-latest ]
    steps:
    - uses: actions/checkout@v5

    - name: Check cmake version
      run: cmake --version
    
    - name: Setup vcpkg (it does not install any package yet)
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgGitCommitId: 84bab45d415d22042bd0b9081aea57f362da3f35 # 2025.12.12
    
    - name: Set up vcpkg binary cache
      if: runner.os == 'Windows'
      uses: actions/cache@v4
      with:
        path: build/vcpkg_installed
        key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
        restore-keys: |
          ${{ runner.os }}-vcpkg-binary-cache-
    
    - name: Get OpenCppCoverage
      if: ${{ matrix.BUILD_TYPE == 'Debug' }}
      env:
        myUrl: "https://github.com/OpenCppCoverage/OpenCppCoverage/releases/download/release-0.9.9.0/OpenCppCoverageSetup-x64-0.9.9.0.exe"
      run: |
        powershell.exe -Command "Invoke-WebRequest $env:myUrl -OutFile $env:Temp/OpenCppCoverageSetup-x64-0.9.9.0.exe"
        powershell.exe -Command "& $env:Temp/OpenCppCoverageSetup-x64-0.9.9.0.exe /silent"
        powershell.exe -Command "Add-Content $env:GITHUB_PATH 'C:\Program Files\OpenCppCoverage'"

    - name: run cmake
      run: > 
        cmake . -DCMAKE_BUILD_TYPE=${{ matrix.BUILD_TYPE }} -B build
    - name: run build
      run: cmake --build build --config ${{ matrix.BUILD_TYPE }}
    
    - name: run test
      run: ctest -C ${{ matrix.BUILD_TYPE }} --test-dir build --verbose --repeat until-pass:3 --timeout 30 --output-on-failure

    - name: run test with coverage
      if: ${{ matrix.BUILD_TYPE == 'Debug' }}
      run: >
        cmake --build build --config ${{ matrix.BUILD_TYPE }} --target coverage
    
    - name: Upload Report to Codecov
      if: ${{ matrix.BUILD_TYPE == 'Debug' }}
      uses: codecov/codecov-action@v4
      with:
        files: ./cobertura.xml
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }} # required